/*CSS PER LA STAMPA*/

@media print {
	
	body {
		background: none #FFF;
		color: #000;
		font-size: 12px;
	}
    
	div.container {
		width: auto;
	}
	
	.imgPrint{
		width: 30%;
		clear: left;
	}
	
	.colPrint{
		width: 100%;
	}
	
    .brand{
        color: black;
    }
    
	h1{
		font-size: 18px;
        
	}
    
}